{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- INICIAR SESION -->
<div class="content login">
    <!-- Slider
        ================================================== -->
    <section class="page-title bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2>Iniciar Sesión</h2>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="container">
    <div class="row">
        <div class="col-12 col-sm-6 m-auto">
            <form action="{% url 'cuentas:login_account' %}" method="POST" class="bg-light card form-accounts p-4 m-4">
                {% csrf_token %}
                {{ form }}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <button class="btn btn-primary btn-block mt-3" type="submit">Iniciar Sesión <i class="fa fa-chevron-right"></i></button>
                <a href="{% url 'cuentas:password_reset' %}" class="mt-3">Recuperar contraseña</a>
            </form>
        </div>
    </div>

</section>

{% endblock %}