{% extends 'base/base.html' %}

{% block content %}


<div class="content tiendas listado">
    <!-- Page Title
    ================================================== -->
    <section class="page-title bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2>Tiendas</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'tiendas:crear' %}" class="btn btn-primary">Agregar Tienda</a>
            </div>
        </div>
        <div class="row mt-4">
            {% for tienda in tiendas %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="/media/{{ tienda.foto.url }}" alt="{{ lista.nombre }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ tienda.nombre }}</h3>
                        <h5 class="card-title">Sucursal: {{ tienda.sucursal}}</h5>
                        <h6 class="card-title">Tipo de Tienda: {{ tienda.tipo_tienda}}</h6>
                        <p class="card-text">{{ tienda.direccion }}</p>
                    </div>
                    {% if perms.tienda.change_lista %}
                    <div class="card-footer">
                        {% if tienda.disponible == False %}
                        <button class="btn btn-success js-tienda-aprobar" data-tienda="{{tienda.id}}">Aprobar</button>
                        {%endif%}
                        <a href="{% url 'tiendas:editar' id=tienda.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'tiendas:eliminar' id=tienda.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}