{% extends 'base/base.html' %}

{% block content %}
<div class="content listas registro">
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-6 m-auto">
                <div class="alert alert-warning m-4" role="alert">
                    <h4 class="alert-heading">¡Recuerda!</h4>
                    <hr>
                    Luego de agregar una tienda, un administrador deberá aprobar este registro. Esto puede tardar un
                    par de
                    horas.
                </div>
                <form method="POST" enctype="multipart/form-data" class="bg-light card form-accounts p-4 m-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-block mt-3" type="submit">Agregar <i class="fa fa-chevron-right"></i></button>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}