{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extrahead %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.32.2/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %} t-compro app {% endblock %}</title>
</head>

<body>
    {% block header %}
    {% include 'base/header.html' %}
    {% endblock %}
    <main>
        {% block content %}
        <h5>Este es el contenido del archivo base</h5>
        {% endblock %}
    </main>
    {% block footer %}
    {% include 'base/footer.html' %}
    {% endblock %}

    {% block extrajs %}
    {% include 'base/scripts.html' %}
    {% endblock %}
</body>

</html>