<!-- Header
================================================== -->
<header>
  <nav class="top-bar navbar navbar-expand-md navbar-dark fixed-top bg-dark py-0">
    {% if user.is_authenticated %}
    <span class="text-white">Bienvenido, {{user.username}}</span>
    {% endif %}
    <ul class="navbar-nav ml-auto list-inline">
      {% if user.is_authenticated %}
      <li class="nav-item list-inline-item">
        <form class='logout' action="{% url 'cuentas:logout_account' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-link nav-link">Cerrar Sesión</button>
        </form>
      </li>
      {% else %}
      <li class="nav-item list-inline-item"> <a class="nav-link" href="{% url 'cuentas:login_account' %}">Iniciar
          Sesión</a>
      </li>
      <li class="nav-item list-inline-item"> <a class="nav-link" href="{% url 'cuentas:register' %}">Registro</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary mt-20 menu">
    <a class="navbar-brand" href="{% url 'web:dashboard' %}">TComproApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-mobile" aria-controls="menu-mobile"
      aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu-mobile">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.path == '/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'web:dashboard' %}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/listas/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'listas:listado' %}">Listas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tiendas:listado' %}">Tiendas</a>
        </li>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary mt-20 menu">
    <a class="navbar-brand" href="{% url 'web:home' %}">TComproApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-mobile" aria-controls="menu-mobile"
      aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu-mobile">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.path == '/' %} active {% endif %}">
          <a class="nav-link" href="{% url 'web:home' %}">Inicio</a>
        </li>
      </ul>
    </div>
  </nav>
  {% endif %}

</header>