{% extends 'base/base.html' %}

{% block content %}
<div class="content listas editar">
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-6 m-auto">
                {% if messages %}
                <div class="alert alert-success p-4 m-4" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Producto Editado</h4>
                    <hr>
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <form method="POST" enctype="multipart/form-data" class="bg-light card form-accounts p-4 m-4">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-block mt-3" type="submit">Guardar <i class="fa fa-chevron-right"></i></button>
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}