{% extends 'base/base.html' %}

{% block content %}


<div class="content listas listado">
    <!-- Page Title
    ================================================== -->
    <section class="page-title bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2>Productos</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <div class="row">
            {% for producto in productos %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="#" alt="{{ producto.nombre_lista }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ producto.nombre_producto }}</h3>
                        <h5 class="card-title">{{ producto.nombre_producto}}</h5>
                        <p class="card-text">{{ producto.nombre_producto }}</p>
                        <h6 class="">Creado por {{ producto.usuario }}</h6>
                    </div>
                    <div class="card-footer">
                        {% if perms.producto.change_lista %}
                        <a href="{% url 'productos:editar' id=producto.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'productos:eliminar' id=producto.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}