{% extends 'base/base.html' %}

{% block content %} 
<div id="contacto" class="contacto" data-aos="fade-up">   
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn btn-primary btn-lg" type="submit">Guardar</button>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </form>
        </div>
    </div>
{% endblock %}