{% extends 'base/base.html' %}

{% block content %}
{% csrf_token %}
<div class="d-none js-id-lista">{{lista.id}}</div>
<div class="content listas lista-interna">
    <!-- Page Title
    ================================================== -->
    <section class="page-title bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2>Lista {{lista.nombre}}</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4 pb-5 border-bottom">
        <div class="row">
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card bg-success text-white h-100">
                    <div class="card-body bg-success">
                        <div class="rotate">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Productos</h6>
                        <h1 class="display-4"><span class="js-cant-productos">----</span></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-info h-100">
                    <div class="card-body bg-info">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Productos comprados</h6>
                        <h1 class="display-4"><span class="js-cant-productos-comprados">----</span></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fa fa-twitter fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Costo presupuestado</h6>
                        <h1 class="display-4">$<span class="js-total-presupuestado">----</span></h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-warning h-100">
                    <div class="card-body">
                        <div class="rotate">
                            <i class="fa fa-share fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Costo real</h6>
                        <h1 class="display-4">$ <span class="js-total-real"></span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col-12">
                <h2 class="d-1">Listado de productos</h2>
            </div>
            <div class="col-12 my-3">
                <button class="btn btn-sm btn-success js-reload-productos" data-toggle="modal" data-target="#agregarProductoModal">
                    <i class="fa fa-refresh mr-2"></i>Agregar producto</button>
                <button class="btn btn-sm btn-primary js-reload-productos">
                    <i class="fa fa-refresh mr-2"></i>Refrescar tabla</button>
            </div>

            <div class="col-12">
                <table class="mt-2 table productos">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tienda</th>
                            <th scope="col">Notas</th>
                            <th scope="col">Comprado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
</div>

<!-- Modal Agregar Producto-->
<div class="modal fade" id="agregarProductoModal" tabindex="-1" role="dialog" aria-labelledby="agregarProductoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control js-add-producto-nombre" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Costo Presupuestado:</label>
                        <input type="number" class="form-control js-add-producto-costo-presupuestado" id="costo_presupuestado"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Costo Real:</label>
                        <input type="number" class="form-control js-add-producto-costo-real" id="costo">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tienda:</label>
                        <select class="form-control js-tiendas-select" required>
                            <option selected disabled>Selecciona una tienda</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Notas Adicionales:</label>
                        <textarea class="form-control js-add-producto-notas" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" type="submit" class="btn btn-success js-add-producto">Agregar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}