{% extends 'base/base.html' %}

{% block content %}


<div class="content listas listado">
    <!-- Page Title
    ================================================== -->
    <section class="page-title bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2>Mis Listas</h2>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary" href="{% url 'listas:crear' %}">Agregar lista</a>
            </div>
        </div>

        <div class="row mt-4">
            {% for lista in listas %}
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="#" alt="{{ lista.nombre_lista }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ lista.nombre }}</h3>
                        <h6 class="">Creado por {{ lista.usuario }}</h6>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'listas:lista' id=lista.id %}" class="btn btn-primary">Ver</a>
                        <a href="{% url 'listas:editar' id=lista.id %}" class="btn btn-primary">Modificar</a>
                        <a href="{% url 'listas:eliminar' id=lista.id %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}