{% extends 'base/base.html' %}

{% block content %}
<div class="content listas registro">
    <section class="container">
        <div class="row">
            <div class="col-12 col-sm-6 m-auto">
                <form method="POST" enctype="multipart/form-data" class="bg-light card form-accounts p-4 m-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary btn-block mt-3" type="submit">Agregar <i class="fa fa-chevron-right"></i></button>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}