{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="content dashboard">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h5 class="mt-4">Indicadores Económicos</h5>
          <ul class="mt-4 js-indicadores">
            <li>Cargando indicadores...</li>
          </ul>

        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <div class="row">
            <div class="col-12">
              <div class="jumbotron">
                <h1 class="display-4">Bienvenide!</h1>
                <p class="lead">Si quieres mejorar tus finanzas estas en el lugar correcto!</p>
                <hr class="my-4">
                <p>TCompro te acompañará a comparar productos, listas y tiendas. Podrás ver cuanto es lo que crees que
                  gasta, y cuanto es lo que estan derrochando!!</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Mis Listas</h5>
                  <p class="card-text">Manjea todas tus listas de compras. Compara precios, y organiza de forma
                    efectiva tu billetera!</p>
                  <a href="/lista" class="btn btn-primary">Ver más</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Mis productos</h5>
                  <p class="card-text">Puedes seleccionar tus productos favoritos, estimar tus gastos y poder reconocer
                    cuanto estas gastando realmente!</p>
                  <a href="/producto" class="btn btn-primary">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h5 class="card-title">Tus tiendas</h5>
            <p class="card-text">Apunta tus tiendas, guardalas, crea un directorio persona y reconoce cual es la que
              más te conviene!</p>
            <a href="/tiendas" class="btn btn-primary">Ver más</a>
          </div>
        </div>
        <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  
            <h2>Section title</h2> -->

      </main>
    </div>
  </div>
</div>
{% endblock %}